&{
    text-align: center;
    padding: 5px 20px;
    > h1:first-child{
        margin-right: 0;
    }
    .item{
            overflow-x: hidden;
            margin: 10px;
            width: 100%;
            img{
                height: 50px;
            }
    }
}
@media (max-width: 768px) {
    & > .flex{
        flex-direction: column;
    }
}